.comicsItemsWrapper {
	display: grid;
	margin-bottom: 45px;
	grid-gap: 57px 67px;
	grid-template: repeat(auto-fill, 415px) / repeat(auto-fill, 215px);
}
.loadButWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
