@import '../../variables.css';

.charactersListWrapper {
	margin-right: 25px;
	/* display: grid;
	grid-template-columns: 650px 425px; */
}
.charactersListContainer {
	display: grid;
	grid-gap: 30px 25px;
	max-width: 650px;
	grid-template: repeat(auto-fill, 318px) / repeat(auto-fill, 200px);
}
.longButContainer {
	margin: 45px auto 45px;
	display: flex;
	justify-content: center;
}

/* Character */

.charWrapper {
	background-color: #232222;
	display: flex;
	flex-direction: column;
	height: 318px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
	transform: translateY(0);
	cursor: pointer;
	transition: transform 0.3s ease, box-shadow 0.3s, opacity 0.3s ease;
}
.charWrapper.charSelected,
.charWrapper.charSelected:hover {
	box-shadow: 0px 5px 20px var(--marvelRed);
	transform: translateY(-8px);
}
.charWrapper:hover {
	box-shadow: 0px 3px 10px var(--marvelRed);
}
.charWrapper img {
	width: 200px;
	height: 200px;
	margin: 0;
}
.characterHeader {
	font-size: 22px;
	font-weight: 700;
	color: #fff;
	margin: 15px 15px 0;
	text-transform: uppercase;
}

/* animation react transition */
.charWrapper-anim-enter {
	opacity: 0.3;
}
.charWrapper-anim-enter-active {
	opacity: 1;
}
.charWrapper-anim-exit {
	opacity: 1;
}
.charWrapper-anim-exit-active {
	opacity: 0;
}
/*  */
