.comicsItemWrapper {
	width: 225px;
	height: 415px;
	cursor: pointer;
}
.comicsItemWrapper img {
	width: 225px;
	height: 345px;
	filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
}
.comicsItemWrapper h4 {
	margin: 10px 0;
	font-size: 14px;
	font-weight: 700;
}
.comicsItemWrapper span {
	color: rgba(0, 0, 0, 0, 6);
}
